{% extends "layout.html" %}

{% block content %}
<h1 class="create-group-heading primary-font">Create Your Own Study Group 📚</h1>
<div class="create-group-container d-flex justify-content-center">
    <form method="post" action="{% url 'groups:create_group' %}" class="w-75">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {% for field in form %}
                    <div class="form-group mb-3">
                        <label class="secondary-font">{{ field.label_tag }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Create Group</button>
        </div>
    </form>
</div>
{% endblock %}