{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Project{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>
<body>
    <div class="nav">
        <div class="nav-space"></div> <!-- Empty div for spacing -->

        <div class="nav-title">
            <img src="{% static 'images/StudyCircleOwl.png' %}" alt="Logo" class="rounded-image">
            <a href="{% url 'core:index' %}"><h1 class="primary-font">Study Circle</h1></a>
            
        </div>
    
        <div class="links">
            {% if user.is_authenticated %}
                <div class="profile-link">
                    <a href="{% url 'users:profile' %}" class="secondary-font">Profile</a>
                </div>
                <div class="auth-link">
                    <a href="{% url 'users:logout' %}" class="secondary-font">Logout</a>
                </div>
            {% else %}
                <div class="auth-link">
                    <a href="{% url 'users:login' %}" class="secondary-font">Login</a>
                </div>
            {% endif %}
        </div>
    </div>
    
    </div>
    

    <main>
        {% block content %}
        <!-- This block will be overridden by child templates -->
        {% endblock %}
    </main>

    <div class="footer">
        <p>2023 @StudyCircle</p>
    </div>
</body>
</html>
